.Slider{
  &Block{
      width: 245.5px;
      height: 138.22px;
      display:flex;
      position: relative;
  }
  &Thumb{
      width: 245.5px;
      height: 138.22px;
      border-radius: 5px;
      position: absolute;
      object-fit:cover;
      
  }
  &Tags{
      position: absolute;
      color: white;
      display:flex;
      bottom: 10px;
  }
  &Tag{
      font-size:1.1rem;
      line-height: 1.1rem;
      font-weight: var(--font-weight-title);
      text-transform:UPPERCASE;
      padding: 0px 8px;
      height: 21px;
      display:flex;
      align-items:center;
      &Red{
          background-color:#D8121A;
          color: #fff;
      }
      &White{
          background-color:#CBCBCC;
          color: #000;
      }
  }
}
