.sliderContainer{
    padding-bottom: 40px;
}

.sildersWrapper{
    margin: 7% 0px 0px 0px;
    padding-left: 4%;
    z-index: 1;
    transform: translateY(-15%);
    background-image:linear-gradient(to bottom, transparent 1%,#111 10% );
}
.titleSlider{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 400px;
    margin: -50px 0;
}