.wrapper{
    display: flex;
    justify-content: flex-start;
    height: 68px;
    padding: 0 4%;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    cursor: pointer;
    z-index: 10;
}

.logo{
    width: 95px;
    height: 30px;
    object-fit: contain
}