.wrapperInfo{
    width: 100%;
    display: flex;
}

.Information{
    padding-right: var(--padding-title);
    justify-content: center;
}

.infoTags{
    display:flex;
    align-items: center;
}

.infoText{
    margin-right: 10px;
}

.green{
    color:#45ce67;
    font-weight: var(--font-weight-title);
}
.tag{
    margin-right: 10px;
}

.TagAge{
    font-size: 1.5rem;
    font-weight: var(--font-weight-title);
    margin-right: 10px;
    padding: 0 8px;
    border : 1px solid #fff;
}
.TagQuality{
    border : 1px solid #fff;
    font-size: 1rem;
    height: 1.5rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.overview{
    margin: 14px 0 7px 0;
}

.containerDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail{
    
    +.detail{
        margin: 10px 0;
    }
}

.key{
    // font-size: 1.4rem;
    color:#777;
    font-weight: 700;
}
