.Footer{
    color: white;
    padding: 0 20%;
    width: 100%;
    margin-bottom:10px;
    &Icons{
    }
    &Icon{
        margin-right: 25px;
        font-size: 2.4rem;
        color: white;
    }
    &Columns{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &ColumnContent{
        display: flex;
        flex-direction: column;
    }
    &ColumnText{
        font-size: 1.4rem;
        padding: 10px 0;
        color: gray;
        &:hover{
            text-decoration: underline;
        }
    }
    &CopyRight{
        Color: gray;
        font-size: 1.2rem;
    }
}